@model Angsoz.GerenciamentoAmigosAniversario.Web.Models.Presente

@{
    ViewData["Title"] = "Registar presente";
}


<div class="row">
    <div class="col-sm-12 col-lg-12">

        <div class="widget">
            <div class="col-sm-12 col-lg-6">
                <div class="widget-content border-bottom">
                    <strong>Dados do presente</strong>
                    <div class="pull-right">
                        <a asp-action="Index" class="btn themed-background-creme" style="margin-top: -7px;"><i class="fa fa-undo"></i> Voltar a lista de presente</a>
                    </div>
                </div>
                <div class="widget-content border-bottom themed-background-muted">

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Selecione a pessoa</label>
                            <select asp-for="PessoaId" class="form-control" asp-items="ViewBag.PessoaId"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nome do presente</label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descrição do presente</label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Imagem do presente</label>
                            <input asp-for="Imagem" class="form-control" />
                            <span asp-validation-for="Imagem" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Valor" class="control-label"></label>
                            <input asp-for="Valor" class="form-control" />
                            <span asp-validation-for="Valor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Registar presente" class="btn btn-primary" />
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>

    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
